.lichen { 
//    height: 40px; 
//    width: 700px; 
//    border: solid 1px blue;
    margin: 0 auto; 
    padding: 0px;
	background: url('/assets/lichen.jpg');
	background-position: center;
}

.lichen-text {
    color: white !important;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.red { color: red }